* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}
html {
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
}

body {
    background-color: #000;
    display: flex;
    flex-direction: column;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/* estilo do cabeçalho */

header {
    width: 100%;
    position: fixed;
    z-index: 999999999999999;
    padding: 30px 0;
    background-image: linear-gradient(to bottom, #232121, transparent);
}

header .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logotipo {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

header nav.menu ul {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

nav.menu ul li a {
    color: #fff;
    text-decoration: none;
}
nav.menu ul li a:hover {
    color: #f70000;
}

nav.menu ul li a.ativo {
    color: #f70000;
}

.slider {
    height: 100vh;
    padding-top: 120px;
    position: relative;
}

.slider .slider-container .slider-box {
    position: absolute;
    inset: 0;
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.slider .slider-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}   

.slider .slider-box::after{
    content: '';
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, #000, transparent);
    position: absolute;
    top: 0;
    left: 0;
}


.slider .slider-box .texto-slider {
    position: absolute;
    left: 10%;
    top: 35%;
    color: #fff;
    z-index: 1;
    width: 80%;
    max-width: 600px;
}

.slider .slider-box .texto-slider h2 {
    font-size: 5rem;
}

@keyframes animaTexto{
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.slider .slider-box.ativo h2,
.slider .slider-box.ativo p {
    transform: translateY(60px);
    opacity: 0;
    animation: animaTexto .5s ease-in-out .7s forwards;
}

.slider .slider-box.ativo h2{
    animation-delay: 1s;
}

.slider-container .slider-box.ativo{
    opacity: 1;
    z-index: 11111;
}

.setas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 4%;
    z-index: 222222;
}

.setas button {
    width: 40px;
    height: 40px;
    background-color: #747474;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: .2s;

}
.setas button:hover {
    background-color: #fff;
}

.btn-nav-box{
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 50px;
    z-index: 7777777;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-nav-box .btn-nav {
    width: 30px;
    height: 10px;
    border: 1px solid #fff;
    border-radius: 8px;
    cursor: pointer;
    transition: .2s;
}

.btn-nav-box .btn-nav:hover{
    background-color: #fff;
}

.btn-nav-box .btn-nav.ativo{
    background-color: #fff;
}

.sobre {
    padding: 120px 0;
    background-color: #000;
}

.sobre-container .sobre-reverso{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

/* imagem */
.sobre-img img {
    width: 100%;
    border-radius: 12px;
}

/* texto */
.sobre-texto {
    color: #fff;
    max-width: 600px;
}

.sobre-texto h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.sobre-texto p {
    font-size: 1.1rem;
    line-height: 1.6;
}

/* inverter layout (imagem direita / texto esquerda) */
.sobre-reverso .sobre-container {
    flex-direction: row-reverse;
}

/* CONTATO */
.contato-pages {
    text-align: center;
    color: #fff;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato-texto {
    padding-top: 100px;
    padding-bottom: 40px;
}

.contato-container {
    padding-left: 0px;
}

.contato p {
    margin: 8px ;
    font-size: 20px;
    color:#fff;
}

/* SEÇÕES */
section {
    padding: 40px 40px;
    text-align: center;
    color: #fff;
}

h2 {
    font-size: 38px;
    margin-bottom: 40px;
    color: #fff;
}


.btn {
    background: #17c700;
    color: #ffffff;
    padding: 11px 22px;
    font-weight: bold;
    border-radius: 24px;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 1px;

}

.btn:hover {
    background: #149500;
    color: #fff;
}

/* SERVIÇOS */
.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: #141414;
    padding: 25px;
    width: 260px;
    border-radius: 8px;
    border: 1px solid #333;
    transition: 0.3s;
}

.card:hover {
    border-color: #f70000;
    transform: translateY(-8px);
}

/* PORTFÓLIO */
.portfolio h2 {
    margin-top: 40px;
}

.grid {
    display:grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr)); 
    gap: 15px;
}

.grid img {
    width: 100%;
    height: 350px;
    border-radius: 6px;
    object-fit:cover
}

.img-contato {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    opacity: 0.3;
}

/* DEPOIMENTOS */
.depo-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.depo {
    background: #141414;
    padding: 25px;
    width: 300px;
    border-radius: 8px;
    border: 1px solid #333;
}

.depo span {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #f70000;
}

.fim-pagina{
    height: 35vh;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
}

/* LISTAS */
.lista-diferenciais {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.lista-diferenciais li {
    padding-left: 26px;
    position: relative;
    margin-bottom: 12px;
    font-size: 1.05rem;
}

.lista-diferenciais li::before {
    content: "✔";
    position: absolute;
    left: 0;
    color: #17c700;
}

/* NÚMEROS */
.numeros {
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.numeros div {
    text-align: center;
}

.numeros strong {
    font-size: 2.4rem;
    color: #17c700;
    display: block;
}

.numeros span {
    font-size: 0.95rem;
    opacity: 0.8;
}

footer {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    cursor: pointer;
    z-index: 999999;
}


.menu-toggle span {
    width: 28px;
    height: 3px;
    background: #fff;
    border-radius: 3px;
    transition: 0.4s;
}

.menu-toggle.ativo span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.ativo span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.ativo span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -6px);
}

body.menu-open {
    overflow: hidden;
}

.bi-whatsapp {
    font-size: 20px;
    margin-right: 8px;
}


@media (max-width: 768px) {
    .sobre {
        padding: 80px 0;
    }

    .sobre-img img {
        max-height: 260px;
        object-fit: cover;
    }

    .numeros {
        flex-direction: column;
        gap: 20px;
    }

    /* HEADER */
    header {
        padding: 15px 0;
    }

    header .interface {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        margin-left: 10%;
    }

    .menu-toggle {
        display: flex;
        margin-left: auto;
        margin-right: 30px;
    }
    .menu-toggle :hover {
        background-color: #f70000;
    }

    nav.menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.85);
        backdrop-filter: blur(10px);
        overflow: hidden;

        max-height: 0;
        opacity: 0;
        transition: max-height 0.4s ease, opacity 0.3s ease;
    }

    nav.menu ul {
        flex-direction: column;
        gap: 25px;
        padding: 30px 0;
        text-align: center;
    }
    nav.menu ul li a {
        opacity: 1;
        pointer-events: auto;
        padding: 10px 0;
        display: inline-block;
    }
    nav.menu ul li a:hover {
    color: #f70000;
    }

    nav.menu.ativo {
        max-height: 100vh;
        opacity: 1;
    }


    /* SLIDER */
    .slider {
        height: calc(60svh + 80px);
    }

    .slider .slider-box .texto-slider {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    .slider .slider-box .texto-slider h2 {
        font-size: clamp(2rem, 6vw, 5rem);
    }

    .slider .slider-box .texto-slider p {
        font-size: 1rem;
    }

    .setas button {
        width: 32px;
        height: 32px;
        font-size: 1rem;
    }

    .setas {
    display: none;    
    }

    .btn-nav-box {
        bottom: 20px;
    }

    /* SOBRE */
    .sobre-reverso{
        padding: 0px 0;
    }
    .sobre-container {
        flex-direction: column;
        text-align: center;
        padding-top: 60px;
    }
    .sobre-img  {
        max-width: 100%;
        height: auto;
    }

    .sobre-texto h2 {
        font-size: 2rem;
        margin: 40px;    }

    .sobre-texto p {
        font-size: 1rem;
    }

    /* DEPOIMENTOS */
    .depo-container {
        flex-direction: column;
        align-items: center;
    }

    .depo {
        width: 100%;
        max-width: 350px;
    }

    /* GRID PORTFÓLIO */
    .grid {
        grid-template-columns: 1fr;
    }

    .grid img {
        height: 260px;
    }

    /* CONTATO */
    .contato {
        height: auto;
        padding: 40px;
        padding-bottom: 80px;
    }

    .contato p {
        font-size: 16px;
    }
    .btn-whats {
        margin-top: 20px;
    }

    /* TÍTULOS */
    h2 {
        font-size: 28px;
        margin: 40px 0;
    }

    footer {
        font-size: 14px;
        padding: 15px;
    }
    .btn {
        padding: 10px 20px;
    }
    .bi.bi-whatsapp {
        font-size: 18px;
    }   
    .fim-pagina{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1280px) {
    .fim-pagina{
        height: 50svh;
        padding-bottom: 42svh;
    }
}

@media (max-width: 1280px) {

    .slider .slider-box .texto-slider h2 {
        font-size: 3rem;
    }

    .sobre-container {
        gap: 40px;
        align-items: center;
        justify-items: center;
    }
    .sobre-img {
        max-width: 600px;
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .sobre-texto {
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    .fim-pagina{
        height: 38vh;
    }
}

@media (min-width: 1280px) {
    .sobre {
        padding: 120px 0;
        background-color: #000;
    }
    .sobre-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 60px;
    }
    .sobre-img img {
        width: 100%;
        max-width: 500px;
        border-radius: 12px;
    }
    .sobre-texto h1 {
        font-size: 3rem;
        margin-bottom: 20px;
    }
    .sobre-texto p {
        font-size: 1.1rem;
        line-height: 1.6;
    }
    /* inverter layout (imagem direita / texto esquerda) */
    .sobre-reverso .sobre-container {
        flex-direction: row-reverse;
    }
    .fim-pagina{
        height: 35vh;
    }

}
